<style>
body {
background: url('http://res.cloudinary.com/djxmmaqyo/image/upload/v1505981648/bigschoolpic_gynsys.jpg') no-repeat;
background-size: cover;
}
</style>

<div class="panel panel-success">
  <div class="panel-heading">
    Create your profile
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
