<h2> Welcome back to Our School, Admin <%= @profile.first_name unless !@profile %>!</h2>

<br>

<p> If you want to change the status of any student or admin, click in the list of Users. </p>
<div>
   <a href="http://localhost:3000/admin/users" class="btn btn-success" role="button">List of Users</a>
</div>

<br><br>


<h3> The pairs today (<%= Time.current.to_date %>) are: </h3>
<% @profiles.each do |profile| %>
  <% if profile.occupation == "student" %>
  <p><%= profile.first_name %></p>
  <% end %>
<% end %>
